<div class="container">
  <div class="barbara_photo">
	  <%= image_tag 'barbara_border.png' %>
	  <h4>Barbara Smith<h4>
  </div>

  <hr>


  <div class="philosophy">
    <h4>My Philosophy</h4>
    <p>My approach to strategic counsel and mentoring is the same discipline that I successfully applied to branding and discovery of consumer insights. Through candid conversations, self-analysis and role playing, individuals are able to realize their true potential and become the "brands" they need to be to succeed.<br /><br />

I have had many mentees throughout my career - specializing in marketing, banking and social marketing and happy to supply references or testimonials upon request.<br /><br />

If you are managing a team or an individual, looking for the course correction from both a business and professional perspective, I can provide the analysis and hands-on counsel to create more inspired, empowered and engaged approach.</p>
  </div>

</div>

<%= render 'layouts/footer' %>