<div class="main_hero_image">
		<h5>Barbara Smith Presents</h5>
		<h1>Fearless</h1>
		<h4>Mentoring & Strategic Consulting</h4>

</div>

<div class="container">
  <div class="what_we_do">
	  <h4>We Help Marketers Reach Their Potential</h4>
	  <div class="what_we_do_desc">
	    <p>Fearless was founded with the belief that mentorship can unlock incredible amounts of potential in individuals and teams. We train your high-peforming individuals and teams to be fearless in their approach to their job.</p>
	  </div>
	  <%= image_tag 'sun_framed.png' %>
  </div>
</div>

<div class="offerings">
	<div class="container">
		<h2>What We Offer</h4>
		<div class="three_offerings">

		<div class="offering">
			<h4>1 to 1 Mentoring</h4>
	    <p>Fearless was founded with the belief that mentorship can unlock incredible amounts of potential in individuals and teams. We train your high-peforming individuals and teams to be fearless in their approach to their job.</p>
	  </div>

	  <div class="offering">
			<h4>Leadership Coaching</h4>
	    <p>Fearless was founded with the belief that mentorship can unlock incredible amounts of potential in individuals and teams. We train your high-peforming individuals and teams to be fearless in their approach to their job.</p>
	  </div>

	  <div class="offering">
			<h4>Team Development</h4>
	    <p>Fearless was founded with the belief that mentorship can unlock incredible amounts of potential in individuals and teams. We train your high-peforming individuals and teams to be fearless in their approach to their job.</p>
	  </div>
	</div>

  </div>
	</div>
</div>

<div class="get_in_touch">
	<h4><%= link_to 'Get in Touch', new_contact_path %></h4>
</div>

<%= render 'layouts/footer' %>