<div class="main_hero_image">
		<h5>Barbara Smith & Marlene Hore</h5>
		<h3>Present</h3>
		<h1>Fearless</h1>
		<h4>Mentoring & Strategic Consulting</h4>

</div>

<div class="container">
  <div class="what_we_do">
	  <h4>We Help Marketers Reach Their Potential</h4>
	  <div class="what_we_do_desc">
	    <p>Fearless was founded with the belief that mentorship can unlock incredible amounts of potential in individuals and teams. We train your high-peforming individuals and teams to be fearless in their approach to their job.</p>
	  </div>
	  <%= image_tag 'sun_framed.png' %>
  </div>
</div>

<div class="offerings">
	<div class="container">
		<h2>What We Offer</h4>
		<div class="three_offerings">

		<div class="offering">
			<h4>Mentoring</h4>
	    <p><b>Does mentoring make a difference?</b><br /><br />Fearless was founded with the belief that mentorship can unlock incredible amounts of potential in individuals and teams. We train your high-performing individuals and teams to be fearless in their approach to their job and therefore more successful in their careers. Mentoring is one of the best investments you can make for your valued employees.
</p>
	  </div>

	  <div class="offering">
			<h4>Leadership Skills</h4>
	    <p><b>Can leadership be taught?</b><br /><br />Developing innovative, principled, insightful and fearless leaders demands a fundamental change. It involves reexamining beliefs and assumptions about who they are professionally. About the work they do, and the people they work with. Fearless Mentoring provides the insightful guidance and emotional support needed to make this transformational thinking a success.</p>
	  </div>

	  <div class="offering">
			<h4>Team Building</h4>
	    <p><b>Just because you say they are a team, are they?</b><br /><br />Successful teams are vital in helping an organization reach their goals. However many teams are dysfunctional and instead of pulling people together, fostering innovative thinking, a sense of camaraderie, they achieve the opposite. Fearless Mentoring has a program that helps smart independent people work collaborative toward a common goal without sacrificing their individuality.</p>
	  </div>
	</div>

  </div>
	</div>
</div>

<div class="get_in_touch">
	<h4><%= link_to 'Get in Touch', new_contact_path %></h4>
</div>

<%= render 'layouts/footer' %>