<div class="container">
  <div class="barbara_photo">
	  <%= image_tag 'marlene.png' %>
	  <h4>Marlene Hore<h4>
  </div>

  <hr>


  <div class="philosophy">
    <h4>About Marlene</h4><br />
    <p>Marketing Hall of Legends Marlene Hore, formerly the most senior female creative in Canada, was also one of the first women in advertising to have a baby and return to work<br /><br />

<p>To learn more about Marlene and her incredible career, <a href="http://www.womenofinfluence.ca/wp-content/uploads/2013/05/Trailblazer-Marlene-Hore.pdf">read her profile in Women of Influence magazine.</a></p><br /><br />


  </div>

</div>

<%= render 'layouts/footer' %>