<div class="container">
  <div>
	  <h4>Our Process<h4>
  </div>

  <hr>


  <div class="philosophy">
    <h2 style="margin-top:60px;"><b>Fearless Mentoring. Strategic Counsel.</b></h2><br />
    <p>The philosophy behind this proprietary and proven approach, which is 
specifically geared to the Marketing and Communications industry, is 
based on the simple fact that to be successful in this industry, people need 
to become fearless and strategic thinkers, leaders and role models. <br /><br />

Successful leaders understand the value and impact of their personal 
brand in their professional and personal space and to live that brand every 
day. Above all else, consistency is the hallmark of a successful brand 
because, in order to believe in a brand, we must know that it - or he or she 
- will deliver, in accordance with our expectations, day in and day out.<br /><br />

<p>By developing your personal brand and achieving the necessary 
consistency, you will be able to achieve - and maintain - the strong, lasting 
relationships, both within the company and with clients, that are necessary 
for your long-term success and that of your company. </p>
  </div>
</div>

  <div class="philosophy">
    <h4><b>Phase 1: Who are you and who do you want to be?</b></h4><br />

   <p>A. Who are you?</p><br />

    <p>In this phase, we work with the individual to develop a “Brand Footprint”: who 
they think they are
on both a personal and professional level. This is achieved through a 
series of self awareness sessions, involving questions, problem solving 
exercises and other “devices” aimed at revealing and identifying the Brand 
within the person.<br /><br />

<p>B. Who do you want to be?</p><br />

    <p> Over the next sessions we will explore the future with them on a 
personal level and a professional one. What kind of person would you like 
to be seen as within the work environment? (We like to be seen as open 
and approachable - a good leader, one who works with people rather than 
one who delivers orders from on high”) Where do you see yourself within the company in a year’s time, in two year’s time etc.? What are your goals 
and how do you see yourself meeting them?</p><br /><br />
  </div>
</div>

<div class="philosophy">
    <h4><b>Phase 2: Who are you and who do you want to be?</b></h4><br />


    <p>The fact is that others rarely see us as we see ourselves. In this phase 
we take a 360º approach. We ask the individual to identify 2 or 3 individuals 
who they believe best understand them. Ideally this group would include a 
supervisor, a peer and someone they know well and who is something of a 
role model to them. We then conduct an in-depth interview with each of these 
people in order to be able to begin work on a Gap Analysis.</p><br /><br />



    <p>The Gap Analysis determines what differences exist between how they 
see themselves and
how others see them. We measure these differences against their goals 
(personal and business) and identify those areas where shortfalls need to 
be addressed, for example:<br /><br />

<ul style="list-style-type:none;">
	<li class="list_style">Leadership ability</li>
	<li class="list_style">Overall Style and transitioning to a new style/position</li>
	<li class="list_style">Communicating and Listening</li>
	<li class="list_style">Consistency</li>
	<li class="list_style">Strategic People Skills</li>
	<li class="list_style">Decision-making</li>
	<li class="list_style">Building successful teams</li>
	<li class="list_style">Sustaining in tough times</li>
</ul>
  </div>
</div>

<div class="philosophy">
    <h4><b>Phase 3: The Development of a Personal Program</b></h4><br />

  

    <p>A personalized and highly detailed program is developed for each and 
every subject. All the variables relevant to future success are analyzed and 
a plan developed to address each variable.</p><br /><br />


    <p>This is an intensive and collaborative period in the mentorship "cycle" and often requires tha the subject faces some hard truths. We do not sugar-coat the pill but rather get down to the sometimes difficult work of fixing those deficiences that can be fixed and working around those that cannot. This is an important part of the Fearless process because, very often, the truth is difficult to face - but nothing can be gained by avoiding it. The first part of a successful repair is the recognition that something needs fixing.</p><br /><br />


  <p>At the same time as we’re dealing with some difficult truths it is important 
that any counselor
provides constant and ongoing motivation and encouragement and this we
do. We are not in the process of knocking down and restructuring, we are 
in the business of taking an impressive array of skills, honing them and 
making a few corrections by being honest, direct and human. 
we believe this is the core of the success we have experienced in mentoring. </p><br /><br />

<p>The people we work with are usually busy professionals so we have found that 
the best process to improvement is to mirror actual work or similar 
situations in our sessions, analyse their reactions in these situations, 
problem-solve and provide them with a tool-chest of behavioural 
techniques to keep them on track to success.</p><br /><br />

<p>At each session, we review their Brand Footprint and Goals and we begin 
to track their progress in each area - building their confidence and 
consistency in their approach to real-life situations.</p><br /><br />
</div>

<div class="philosophy">
    <h4><b>Phase 4: Monitoring Progress and Charting the Path to Progress</b></h4><br />


    <p>In life we typically take all kinds of lessons and become engaged in any 
number of different “practices” - learning the piano, martial arts, soccer, 
learning to fly or to sail and so on. And
we also realise, if we’re smart, that we only really know what we’re doing 
when it becomes second nature and we don’t have to ask ourselves “What
do I do now?”<br /><br />


    <p>In this stage of the process the primary aim is to make sure that “doing the 
right things in accordance to your brand” become second nature.</p><br /><br />

<p>Each session starts with going back to the “Road Map”, discussing and 
charting progress, analyzing areas where things might not have gone as 
well as expected, discussing each of the Gaps and keeping to the plan 
through role playing and self-assessment - and, of course encouragement and reinforcement.</p><br /><br />
  </div>
</div>

<div class="philosophy">
    <h4><b>Phase 5. The Ultimate Test</b></h4><br />


    <p>How are we doing? Not solely in our own eyes but in the eyes of others. 
Once again, we go to the 360º Approach: we interview the 3 important 
people in-depth, analyse their responses and review the results of this 
analysis with the subject. We might think we’re doing well but the opinions 
of those we work with and for really determine just how well we’re doing!<br /><br />


    <p>We work together to correct any deficiencies and it’s back to work for the 
subject. By now he or she should be well on the way to achieving Goals for 
year one. </p><br /><br />

  </div>

  <div class="philosophy">
    <h4><b>Phase 6. Review and Course-Correction</b></h4><br />


    <p>We check in with the subject. Have your goals for the first year been met? 
What problems have surfaced? “Do you feel that you’re solidly on-track? 
“Is there anything you’d like to discuss?” Of course, input from Supervisors 
and team members are critical factors contributing to the success of the 
individual. Conversations with both, from time to time, are always 
extremely useful. <br /><br />

  </div>

    <div class="philosophy">
    <h4><b>Future Involvement:</b></h4><br />


    <p>Everyone is different - every program is unique - results vary by individual -
and the success of this “training” often requires a life-long awareness of 
strengths to be built on and weaknesses to be corrected on the part of the 
individual. </p><br /><br />

  </div>


</div>

<%= render 'layouts/footer' %>