<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Contact</h1>
    <p>
      Name: <%= @name %>
    </p>

     <p>
      Phone: <%= @phone %>
    </p>
    <p>
      Company: <%= @company %>
    </p>
    <p>
      Email: <%= @email %>
    </p>
   
  </body>
</html>